In [1]:
# default_exp data_preperation

# Data preperation

> Clean Swissmetro dataset.

In [11]:
#hide
from nbdev.showdoc import *

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Data preperation

In [4]:
df = pd.read_csv('./data/swissmetro.dat', sep='	')
# Remove unknown age (6)
df['AGE'].value_counts
df = df[df['AGE'] != 6]
# Remove "other" trip purpose (9)
df = df[df['PURPOSE'] != 9]
# Remove "unknown" choice (0)
df = df[df['CHOICE'] != 0]
df.shape

(10692, 28)

In [5]:
# Save to csv file
df.to_csv('./data/swissmetro_clean.csv',index=False)

### Data exploration

In [6]:
# Reload data
data = pd.read_csv('./data/swissmetro_clean.csv')
data.shape

(10692, 28)

In [7]:
data.head()

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2

In [8]:
data.columns

Index(['GROUP', 'SURVEY', 'SP', 'ID', 'PURPOSE', 'FIRST', 'TICKET', 'WHO',
       'LUGGAGE', 'AGE', 'MALE', 'INCOME', 'GA', 'ORIGIN', 'DEST', 'TRAIN_AV',
       'CAR_AV', 'SM_AV', 'TRAIN_TT', 'TRAIN_CO', 'TRAIN_HE', 'SM_TT', 'SM_CO',
       'SM_HE', 'SM_SEATS', 'CAR_TT', 'CAR_CO', 'CHOICE'],
      dtype='object')

### Training, Validation and Test

In [19]:
# Divide the dataset into training (70%), validation (15%) and test (15%), same as in TasteNet-MNL models
train, test = train_test_split(data, test_size=0.3, shuffle=True, stratify=data.CHOICE.values)
valid, test = train_test_split(test, test_size=0.5, shuffle=True, stratify=test.CHOICE.values)
train.shape, valid.shape, test.shape

((7484, 28), (1604, 28), (1604, 28))

In [23]:
# Check percentage of CHOICE in train, valid, and test sets
train.CHOICE.value_counts()

2    4339
3    2156
1     989
Name: CHOICE, dtype: int64

In [24]:
valid.CHOICE.value_counts()

2    930
3    462
1    212
Name: CHOICE, dtype: int64

In [25]:
test.CHOICE.value_counts()

2    930
3    462
1    212
Name: CHOICE, dtype: int64

In [26]:
# Save into csv files
train.to_csv('./data/swissmetro_train.csv', index=False)
valid.to_csv('./data/swissmetro_valid.csv', index=False)
test.to_csv('./data/swissmetro_test.csv', index=False)