In [ ]:
# default_exp MNL_swissmetro

# MNL with Swissmetro dataset

> API details of MNL with Swissmetro dataset.

In [ ]:
#hide
from nbdev.showdoc import *

#### Data preparation

In [ ]:
#export
import pickle
import numpy as np
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
from biogeme.expressions import Beta

In [ ]:
# Convert .dat to .pck
df = pd.read_csv('./data/swissmetro.dat', sep='	')
# Remove unknown age (6)
df['AGE'].value_counts
df = df[df['AGE'] != 6]
# Remove "other" trip purpose (9)
df = df[df['PURPOSE'] != 9]
# Remove "unknown" choice (0)
df = df[df['CHOICE'] != 0]
df.shape

(10692, 28)

In [ ]:
# Save to pickle file
df.to_pickle('./data/swissmetro_clean.pkl')

#### Data loading

In [ ]:
data = pickle.load(open('./data/swissmetro_clean.pkl', "rb"))
data.head()

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2

In [ ]:
df.describe()

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
count,10692.000000,10692.000000,10692.0,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,...,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000
mean,2.632155,0.632155,1.0,597.389731,2.904882,0.471380,2.882155,1.494949,0.677609,2.898148,...,166.872334,512.373831,70.117845,87.562477,667.992237,20.019641,0.117752,124.055462,78.944912,2.155911
std,0.482241,0.482241,0.0,344.294347,1.121564,0.499204,2.182350,0.708905,0.604114,1.027727,...,77.357630,1084.703812,37.433883,53.610080,1436.999113,8.161314,0.322329,88.702044,55.230211,0.629245
min,2.000000,0.000000,1.0,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,31.000000,8.000000,30.000000,8.000000,10.000000,10.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,1.0,299.750000,2.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,110.000000,58.000000,30.000000,55.000000,70.000000,10.000000,0.000000,70.000000,40.000000,2.000000
50%,3.000000,1.000000,1.0,598.500000,3.000000,0.000000,3.000000,1.000000,1.000000,3.000000,...,158.000000,94.000000,60.000000,79.000000,111.000000,20.000000,0.000000,120.000000,76.000000,2.000000
75%,3.000000,1.000000,1.0,895.250000,3.000000,1.000000,3.000000,2.000000,1.000000,4.000000,...,209.000000,170.000000,120.000000,110.000000,209.000000,30.000000,0.000000,176.000000,112.000000,3.000000
max,3.000000,1.000000,1.0,1192.000000,8.000000,1.000000,10.000000,3.000000,3.000000,5.000000,...,1049.000000,5040.000000,120.000000,796.000000,6720.000000,30.000000,1.000000,1560.000000,520.000000,3.000000

### Biogeme

In [ ]:
# Read the data
# df = pd.read_csv('swissmetro.dat', '\t')
df = pickle.load(open('./data/swissmetro_clean.pkl', "rb"))
database = db.Database('swissmetro', df)

In [ ]:
df.shape

(10692, 28)

In [ ]:
# The following statement allows you to use the names of the variable
# as Python variable.
globals().update(database.variables)

In [ ]:
# Removing some observations
# exclude = ((PURPOSE != 1) * (PURPOSE != 3) + (CHOICE == 0)) > 0
# database.remove(exclude)

# Parameters to be estimated
# ASC_CAR = Beta('ASC_CAR', 0, None, None, 0)
# ASC_TRAIN = Beta('ASC_TRAIN', 0, None, None, 0)
# ASC_SM = Beta('ASC_SM', 0, None, None, 1)
# B_TIME = Beta('B_TIME', 0, None, None, 0)
# B_COST = Beta('B_COST', 0, None, None, 0)


ASC_TRAIN = Beta('ASC_TRAIN', 0, None, None, 0)
ASC_SM = Beta('ASC_SM', 0, None, None, 0)
ASC_CAR = Beta('ASC_CAR',0, None, None, 1) # Constant

B_TIME_TRAIN = Beta('B_TIME_TRAIN', 0, None, None, 0)
B_TIME_SM = Beta('B_TIME_SM', 0, None, None, 0)
B_TIME_CAR = Beta('B_TIME_CAR', 0, None, None, 0)

B_HEADWAY_TRAIN = Beta('B_HEADWAY_TRAIN', 0, None, None, 0)
B_HEADWAY_SM = Beta('B_HEADWAY_SM', 0, None, None, 0)


B_COST_TRAIN = Beta('B_COST_TRAIN', -1, None, None, 1) # Constant
B_COST_SM = Beta('B_COST_SM', -1, None, None, 1) # Constant
B_COST_CAR = Beta('B_COST_CAR', -1, None, None, 1) # Constant

In [ ]:
df.head().T

            0    1    2    3    4
GROUP       2    2    2    2    2
SURVEY      0    0    0    0    0
SP          1    1    1    1    1
ID          1    1    1    1    1
PURPOSE     1    1    1    1    1
FIRST       0    0    0    0    0
TICKET      1    1    1    1    1
WHO         1    1    1    1    1
LUGGAGE     0    0    0    0    0
AGE         3    3    3    3    3
MALE        0    0    0    0    0
INCOME      2    2    2    2    2
GA          0    0    0    0    0
ORIGIN      2    2    2    2    2
DEST        1    1    1    1    1
TRAIN_AV    1    1    1    1    1
CAR_AV      1    1    1    1    1
SM_AV       1    1    1    1    1
TRAIN_TT  112  103  130  103  130
TRAIN_CO   48   48   48   40   36
TRAIN_HE  120   30   60   30   60
SM_TT      63   60   67   63   63
SM_CO      52   49   58   52   42
SM_HE      20   10   30   20   20
SM_SEATS    0    0    0    0    0
CAR_TT    117  117  117   72   90
CAR_CO     65   84   52   52   84
CHOICE      2    2    2    2    2

In [ ]:
# Definition of new variables
SM_COST = SM_CO * (GA == 0)
TRAIN_COST = TRAIN_CO * (GA == 0)

CAR_AV_SP = CAR_AV * (SP != 0)
TRAIN_AV_SP = TRAIN_AV * (SP != 0)

TRAIN_TT_SCALED = TRAIN_TT # / 100.0
TRAIN_COST_SCALED = TRAIN_COST # / 100

SM_TT_SCALED = SM_TT # / 100.0
SM_COST_SCALED = SM_COST # / 100

CAR_TT_SCALED = CAR_TT # / 100
CAR_CO_SCALED = CAR_CO # / 100

TRAIN_HEADWAY = TRAIN_HE
SM_HEADWAY = SM_HE

In [ ]:
# Definition of the utility functions
# V1 = ASC_TRAIN + \
#      B_TIME * TRAIN_TT_SCALED + \
#      B_COST * TRAIN_COST_SCALED
# V2 = ASC_SM + \
#      B_TIME * SM_TT_SCALED + \
#      B_COST * SM_COST_SCALED
# V3 = ASC_CAR + \
#      B_TIME * CAR_TT_SCALED + \
#      B_COST * CAR_CO_SCALED

V1 = ASC_TRAIN + B_TIME_TRAIN * TRAIN_TT_SCALED + B_HEADWAY_TRAIN * TRAIN_HEADWAY +  B_COST_TRAIN * TRAIN_COST_SCALED
V2 = ASC_SM + B_TIME_SM * SM_TT_SCALED + B_HEADWAY_SM * SM_HEADWAY + B_COST_SM * SM_COST_SCALED
V3 = ASC_CAR + B_TIME_CAR * CAR_TT_SCALED + B_COST_CAR * CAR_CO_SCALED

In [ ]:
# Associate utility functions with the numbering of alternatives
V = {1: V1,
     2: V2,
     3: V3}

# Associate the availability conditions with the alternatives
av = {1: TRAIN_AV_SP,
      2: SM_AV,
      3: CAR_AV_SP}

In [ ]:
# Definition of the model. This is the contribution of each
# observation to the log likelihood function.
logprob = models.loglogit(V, av, CHOICE)

# Create the Biogeme object
biogeme = bio.BIOGEME(database, logprob)
# biogeme.modelName = '01logit'
biogeme.modelName = 'anything'

In [ ]:
# Estimate the parameters
results = biogeme.estimate()

# Get the results in a pandas table
pandasResults = results.getEstimatedParameters()
print(pandasResults)

                     Value   Std err      t-test   p-value  Rob. Std err  \
ASC_SM           10.245328  0.359568   28.493448  0.000000      2.509918
ASC_TRAIN        15.924598  0.362314   43.952501  0.000000      2.297327
B_HEADWAY_SM     -0.029013  0.008656   -3.351612  0.000803      0.036859
B_HEADWAY_TRAIN  -0.026052  0.002021  -12.890181  0.000000      0.006544
B_TIME_CAR       -0.362414  0.002659 -136.293717  0.000000      0.025532
B_TIME_SM        -0.370810  0.002607 -142.248203  0.000000      0.021140
B_TIME_TRAIN     -0.366817  0.002053 -178.657575  0.000000      0.014611

                 Rob. t-test  Rob. p-value
ASC_SM              4.081937  4.466190e-05
ASC_TRAIN           6.931795  4.155343e-12
B_HEADWAY_SM       -0.787136  4.312021e-01
B_HEADWAY_TRAIN    -3.981048  6.861223e-05
B_TIME_CAR        -14.194336  0.000000e+00
B_TIME_SM         -17.540794  0.000000e+00
B_TIME_TRAIN      -25.105441  0.000000e+00

In [ ]:
pandasResults['Value']

ASC_CAR      0.016930
ASC_TRAIN   -0.656391
B_COST      -0.789108
B_TIME      -1.277293
Name: Value, dtype: float64

In [ ]:
pandasResults.at['ASC_CAR','Value']

0.01692988840776121

In [ ]:
# The validation consists in organizing the data into several slices
# of about the same size, randomly defined. Each slice is considered
# as a validation dataset. The model is then re-estimated using all
# the data except the slice, and the estimated model is applied on the
# validation set (i.e. the slice). The value of the log likelihood for
# each observation in the validation set is reported in a
# dataframe. As this is done for each slice, the output is a list of
# dataframes, each corresponding to one of these exercises.

validation_results = biogeme.validate(results,5)

for slide in validation_results:
    print(f'Log likelihood for {slide.shape[0]} validation data: {slide["Loglikelihood"].sum()}')

Log likelihood for 2139 validation data: -1715.400412298387
Log likelihood for 2139 validation data: -1708.8918801394407
Log likelihood for 2138 validation data: -1760.8655293556678
Log likelihood for 2138 validation data: -1723.267796297537
Log likelihood for 2138 validation data: -1739.4535618147806

In [ ]:
slices = 5

In [ ]:
validationData = database.split(slices)

In [ ]:
type(validationData)

zip

In [ ]:
for v in validationData:
    print(type(v))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
type(v), len(v)

(tuple, 2)

In [ ]:
type(v[0]), type(v[1]), v[0].shape, v[1].shape

(pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame,
 (8554, 28),
 (2138, 28))

In [ ]:
keepDatabase = database
type(keepDatabase)

biogeme.database.Database

In [ ]:
estimationResults = results

In [ ]:
allSimulationResults = []
for v in validationData:
    # v[0] is the estimation data set
    database = db.Database('Estimation data', v[0])
    biogeme.loglike.changeInitValues(estimationResults.getBetaValues())
    results = biogeme.estimate()
    simulate = {'Loglikelihood': biogeme.loglike}
#     simBiogeme = BIOGEME(db.Database('Validation data', v[1]),
#                          simulate)
#     simResult = simBiogeme.simulate(results.getBetaValues())
    simResult = biogeme.simulate(results.getBetaValues())
    allSimulationResults.append(simResult)
biogeme.database = keepDatabase

In [ ]:
allSimulationResults

[]

In [ ]:
# Get accuracy
type(slide), slide.shape

(pandas.core.frame.DataFrame, (2138, 1))

In [ ]:
results

### PyLogit

In [ ]:
#export
from collections import OrderedDict
import pandas as pd
import numpy as np
import pylogit as pl

In [ ]:
wide_sm = pd.read_table('./data/swissmetro.dat', sep="\t")

In [ ]:
wide_sm.shape

(10728, 28)

In [ ]:
include_criteria = (wide_sm.PURPOSE.isin([1, 3]) & 
                   (wide_sm.CHOICE !=0))
wide_sm = wide_sm.loc[include_criteria].copy()

In [ ]:
wide_sm.shape

(6768, 28)

In [ ]:
wide_sm.head()

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2

#### Convert Wide to Long format

In [ ]:
wide_sm.ID.nunique(), wide_sm.shape[0]/wide_sm.ID.nunique()

(752, 9.0)

In [ ]:
wide_sm[wide_sm.ID.isin([2])].head(10).T

           9    10   11   12   13   14   15   16   17
GROUP       2    2    2    2    2    2    2    2    2
SURVEY      0    0    0    0    0    0    0    0    0
SP          1    1    1    1    1    1    1    1    1
ID          2    2    2    2    2    2    2    2    2
PURPOSE     1    1    1    1    1    1    1    1    1
FIRST       0    0    0    0    0    0    0    0    0
TICKET      1    1    1    1    1    1    1    1    1
WHO         1    1    1    1    1    1    1    1    1
LUGGAGE     1    1    1    1    1    1    1    1    1
AGE         2    2    2    2    2    2    2    2    2
MALE        0    0    0    0    0    0    0    0    0
INCOME      1    1    1    1    1    1    1    1    1
GA          0    0    0    0    0    0    0    0    0
ORIGIN     22   22   22   22   22   22   22   22   22
DEST        1    1    1    1    1    1    1    1    1
TRAIN_AV    1    1    1    1    1    1    1    1    1
CAR_AV      0    0    0    0    0    0    0    0    0
SM_AV       1    1    1    1    1    1    1    1    1
TRAIN_TT  184  170  213  170  213  184  170  170  213
TRAIN_CO   62   62   62   52   47   47   62   47   52
TRAIN_HE  120   30   60   30   60  120  120   30   60
SM_TT      76   70   84   76   76   70   84   84   70
SM_CO      70   66   82   72   53   66   82   57   62
SM_HE      20   10   30   20   20   10   10   30   10
SM_SEATS    0    0    0    0    0    0    0    0    0
CAR_TT      0    0    0    0    0    0    0    0    0
CAR_CO      0    0    0    0    0    0    0    0    0
CHOICE      2    2    2    2    2    2    2    2    2

In [ ]:
wide_sm.columns

Index(['GROUP', 'SURVEY', 'SP', 'ID', 'PURPOSE', 'FIRST', 'TICKET', 'WHO',
       'LUGGAGE', 'AGE', 'MALE', 'INCOME', 'GA', 'ORIGIN', 'DEST', 'TRAIN_AV',
       'CAR_AV', 'SM_AV', 'TRAIN_TT', 'TRAIN_CO', 'TRAIN_HE', 'SM_TT', 'SM_CO',
       'SM_HE', 'SM_SEATS', 'CAR_TT', 'CAR_CO', 'CHOICE'],
      dtype='object')

In [ ]:
# Select and group suitable type of varialbes
# Create the list of individual specific variables
ind_variables = wide_sm.columns.tolist()[:15]
availability_variables = {1: 'TRAIN_AV',
                          2: 'SM_AV',
                          3: 'CAR_AV'}
# Alternative variables
alt_varying_variables = {u'travel_time': dict([(1, 'TRAIN_TT'),
                                               (2, 'SM_TT'),
                                               (3, 'CAR_TT')]),
                         u'travel_cost': dict([(1, 'TRAIN_CO'),
                                               (2, 'SM_CO'),
                                               (3, 'CAR_CO')]),
                         u'headway': dict([(1, 'TRAIN_HE'),
                                           (2, 'SM_HE')]),
                         u'seat_configuration': dict([(2,"SM_SEATS")])}
alt_varying_variables

{'travel_time': {1: 'TRAIN_TT', 2: 'SM_TT', 3: 'CAR_TT'},
 'travel_cost': {1: 'TRAIN_CO', 2: 'SM_CO', 3: 'CAR_CO'},
 'headway': {1: 'TRAIN_HE', 2: 'SM_HE'},
 'seat_configuration': {2: 'SM_SEATS'}}

In [ ]:
# Define custom alternative ids
custom_alt_id = "mode_id"
# Create a custon id column
obs_id_column = "custom_id"
wide_sm[obs_id_column] = np.arange(wide_sm.shape[0], dtype=int) + 1

In [ ]:
# Choice column
choice_column = "CHOICE"

In [ ]:
# Convert to long-format
long_sm = pl.convert_wide_to_long(wide_sm,
                                  ind_variables,
                                  alt_varying_variables,
                                  availability_variables,
                                  obs_id_column,
                                  choice_column,
                                  new_alt_id_name=custom_alt_id
                                  )

In [ ]:
long_sm.CHOICE.value_counts(), long_sm.shape

(0    12375
 1     6768
 Name: CHOICE, dtype: int64,
 (19143, 22))

In [ ]:
long_sm.head(10).T

,0,1,2,3,4,5,6,7,8,9
custom_id,1.0,1.0,1.0,2.0,2.0,2.0,3.0,3.0,3.0,4.0
mode_id,1.0,2.0,3.0,1.0,2.0,3.0,1.0,2.0,3.0,1.0
CHOICE,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
GROUP,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
SURVEY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SP,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
ID,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
PURPOSE,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
FIRST,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TICKET,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
WHO,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
LUGGAGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AGE,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
MALE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
INCOME,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
GA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ORIGIN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
DEST,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
travel_time,112.0,63.0,117.0,103.0,60.0,117.0,130.0,67.0,117.0,103.0
travel_cost,48.0,52.0,65.0,48.0,49.0,84.0,48.0,58.0,52.0,40.0
headway,120.0,20.0,0.0,30.0,10.0,0.0,60.0,30.0,0.0,30.0
seat_configuration,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Variable transformations

In [ ]:
# Scale minutes to hours
long_sm['travel_time_hrs'] = long_sm['travel_time']/60.0
long_sm['headway_hrs'] = long_sm['headway']/60.0

long_sm["free_ticket"] = (((long_sm["GA"] == 1) |
                            (long_sm["WHO"] == 2)) &
                           long_sm[custom_alt_id].isin([1,2])).astype(int)

long_sm["travel_cost_hundreth"] = (long_sm["travel_cost"] *
                                    (long_sm["free_ticket"] == 0) / 100.0)
# Dummy variables
long_sm['single_luggage_piece'] = (long_sm['LUGGAGE'] == 1).astype(int)
long_sm['multiple_luggage_pieces'] = (long_sm['LUGGAGE'] == 3).astype(int)
long_sm['regular_class'] = 1 - long_sm['FIRST']
long_sm['train_survey'] = 1 - long_sm['SURVEY']

In [ ]:
long_sm.head().T

                                  0          1       2           3          4
custom_id                  1.000000   1.000000    1.00    2.000000   2.000000
mode_id                    1.000000   2.000000    3.00    1.000000   2.000000
CHOICE                     0.000000   1.000000    0.00    0.000000   1.000000
GROUP                      2.000000   2.000000    2.00    2.000000   2.000000
SURVEY                     0.000000   0.000000    0.00    0.000000   0.000000
SP                         1.000000   1.000000    1.00    1.000000   1.000000
ID                         1.000000   1.000000    1.00    1.000000   1.000000
PURPOSE                    1.000000   1.000000    1.00    1.000000   1.000000
FIRST                      0.000000   0.000000    0.00    0.000000   0.000000
TICKET                     1.000000   1.000000    1.00    1.000000   1.000000
WHO                        1.000000   1.000000    1.00    1.000000   1.000000
LUGGAGE                    0.000000   0.000000    0.00    0.000000   0.000000
AGE                        3.000000   3.000000    3.00    3.000000   3.000000
MALE                       0.000000   0.000000    0.00    0.000000   0.000000
INCOME                     2.000000   2.000000    2.00    2.000000   2.000000
GA                         0.000000   0.000000    0.00    0.000000   0.000000
ORIGIN                     2.000000   2.000000    2.00    2.000000   2.000000
DEST                       1.000000   1.000000    1.00    1.000000   1.000000
travel_time              112.000000  63.000000  117.00  103.000000  60.000000
travel_cost               48.000000  52.000000   65.00   48.000000  49.000000
headway                  120.000000  20.000000    0.00   30.000000  10.000000
seat_configuration         0.000000   0.000000    0.00    0.000000   0.000000
travel_time_hrs            1.866667   1.050000    1.95    1.716667   1.000000
headway_hrs                2.000000   0.333333    0.00    0.500000   0.166667
free_ticket                0.000000   0.000000    0.00    0.000000   0.000000
travel_cost_hundreth       0.480000   0.520000    0.65    0.480000   0.490000
single_luggage_piece       0.000000   0.000000    0.00    0.000000   0.000000
multiple_luggage_pieces    0.000000   0.000000    0.00    0.000000   0.000000
regular_class              1.000000   1.000000    1.00    1.000000   1.000000
train_survey               1.000000   1.000000    1.00    1.000000   1.000000

In [ ]:
basic_specf = OrderedDict()
basic_names = OrderedDict()

In [ ]:
# NOTE: - Specification and variable names must be ordered dictionaries.
#       - Keys should be variables within the long format dataframe.
#         The sole exception to this is the "intercept" key.
#       - For the specification dictionary, the values should be lists
#         of integers or lists of lists of integers. Within a list, 
#         or within the inner-most list, the integers should be the 
#         alternative ID's of the alternative whose utility specification 
#         the explanatory variable is entering. Lists of lists denote 
#         alternatives that will share a common coefficient for the variable
#         in question.

basic_specification = OrderedDict()
basic_names = OrderedDict()

basic_specification["intercept"] = [1, 2]
basic_names["intercept"] = ['ASC Train',
                            'ASC Swissmetro']

basic_specification["travel_time_hrs"] = [[1, 2,], 3]
basic_names["travel_time_hrs"] = ['Travel Time, units:hrs (Train and Swissmetro)',
                                  'Travel Time, units:hrs (Car)']

basic_specification["travel_cost_hundreth"] = [1, 2, 3]
basic_names["travel_cost_hundreth"] = ['Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Train)',
                                       'Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Swissmetro)',
                                       'Travel Cost, units: 0.01 CHF (Car)']

basic_specification["headway_hrs"] = [1, 2]
basic_names["headway_hrs"] = ["Headway, units:hrs, (Train)",
                              "Headway, units:hrs, (Swissmetro)"]

basic_specification["seat_configuration"] = [2]
basic_names["seat_configuration"] = ['Airline Seat Configuration, base=No (Swissmetro)']

basic_specification["train_survey"] = [[1, 2]]
basic_names["train_survey"] = ["Surveyed on a Train, base=No, (Train and Swissmetro)"]

basic_specification["regular_class"] = [1]
basic_names["regular_class"] = ["First Class == False, (Swissmetro)"]

basic_specification["single_luggage_piece"] = [3]
basic_names["single_luggage_piece"] = ["Number of Luggage Pieces == 1, (Car)"]

basic_specification["multiple_luggage_pieces"] = [3]
basic_names["multiple_luggage_pieces"] = ["Number of Luggage Pieces > 1, (Car)"]

In [ ]:
basic_specification

OrderedDict([('intercept', [1, 2]),
             ('travel_time_hrs', [[1, 2], 3]),
             ('travel_cost_hundreth', [1, 2, 3]),
             ('headway_hrs', [1, 2]),
             ('seat_configuration', [2]),
             ('train_survey', [[1, 2]]),
             ('regular_class', [1]),
             ('single_luggage_piece', [3]),
             ('multiple_luggage_pieces', [3])])

In [ ]:
basic_names

OrderedDict([('intercept', ['ASC Train', 'ASC Swissmetro']),
             ('travel_time_hrs',
              ['Travel Time, units:hrs (Train and Swissmetro)',
               'Travel Time, units:hrs (Car)']),
             ('travel_cost_hundreth',
              ['Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Train)',
               'Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Swissmetro)',
               'Travel Cost, units: 0.01 CHF (Car)']),
             ('headway_hrs',
              ['Headway, units:hrs, (Train)',
               'Headway, units:hrs, (Swissmetro)']),
             ('seat_configuration',
              ['Airline Seat Configuration, base=No (Swissmetro)']),
             ('train_survey',
              ['Surveyed on a Train, base=No, (Train and Swissmetro)']),
             ('regular_class', ['First Class == False, (Swissmetro)']),
             ('single_luggage_piece',
              ['Number of Luggage Pieces == 1, (Car)']),
             ('multiple_luggage_pieces',
              ['Number of Luggage Pieces > 1, (Car)'])])

In [ ]:
# Estimate the multinomial logit model (MNL)
swissmetro_mnl = pl.create_choice_model(data=long_sm,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=basic_specification,
                                        model_type="MNL",
                                        names=basic_names)

# Specify the initial values and method for the optimization.
swissmetro_mnl.fit_mle(np.zeros(14))

# Look at the estimation results
swissmetro_mnl.get_statsmodels_summary()

Log-likelihood at zero: -6,964.6630
Initial Log-likelihood: -6,964.6630
Estimation Time for Point Estimation: 0.15 seconds.
Final log-likelihood: -5,159.2583

/home/danph/anaconda3/envs/dev/lib/python3.8/site-packages/scipy/optimize/_minimize.py:522: RuntimeWarning: Method BFGS does not use Hessian information (hess).
  warn('Method %s does not use Hessian information (hess).' % method,

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                      CHOICE   No. Observations:                6,768
Model:             Multinomial Logit Model   Df Residuals:                    6,754
Method:                                MLE   Df Model:                           14
Date:                     Thu, 14 Jan 2021   Pseudo R-squ.:                   0.259
Time:                             14:46:08   Pseudo R-bar-squ.:               0.257
AIC:                            10,346.517   Log-Likelihood:             -5,159.258
BIC:                            10,441.996   LL-Null:                    -6,964.663
==================================================================================================================================
                                                                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------------
ASC Train                                                         -1.2929      0.146     -8.845      0.000      -1.579      -1.006
ASC Swissmetro                                                    -0.5026      0.116     -4.332      0.000      -0.730      -0.275
Travel Time, units:hrs (Train and Swissmetro)                     -0.6990      0.042    -16.545      0.000      -0.782      -0.616
Travel Time, units:hrs (Car)                                      -0.7230      0.047    -15.340      0.000      -0.815      -0.631
Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Train)         -0.5618      0.094     -6.002      0.000      -0.745      -0.378
Travel Cost * (Annual Pass == 0), units: 0.01 CHF (Swissmetro)    -0.2817      0.045     -6.252      0.000      -0.370      -0.193
Travel Cost, units: 0.01 CHF (Car)                                -0.5139      0.104     -4.953      0.000      -0.717      -0.311
Headway, units:hrs, (Train)                                       -0.3143      0.062     -5.063      0.000      -0.436      -0.193
Headway, units:hrs, (Swissmetro)                                  -0.3773      0.196     -1.925      0.054      -0.761       0.007
Airline Seat Configuration, base=No (Swissmetro)                  -0.7825      0.087     -8.970      0.000      -0.953      -0.611
Surveyed on a Train, base=No, (Train and Swissmetro)               2.5425      0.114     22.235      0.000       2.318       2.767
First Class == False, (Swissmetro)                                 0.5650      0.077      7.305      0.000       0.413       0.717
Number of Luggage Pieces == 1, (Car)                               0.4228      0.067      6.270      0.000       0.291       0.555
Number of Luggage Pieces > 1, (Car)                                1.4141      0.259      5.461      0.000       0.907       1.922
==================================================================================================================================
"""

In [ ]:
# Look at other all results at the same time
swissmetro_mnl.print_summaries()

Number of Parameters                                                     14
Number of Observations                                                 6768
Null Log-Likelihood                                                -6964.66
Fitted Log-Likelihood                                              -5159.26
Rho-Squared                                                        0.259224
Rho-Bar-Squared                                                    0.257213
Estimation Message        Desired error not necessarily achieved due to ...
dtype: object
==============================
                                                    parameters   std_err  \
ASC Train                                            -1.292943  0.146184
ASC Swissmetro                                       -0.502595  0.116010
Travel Time, units:hrs (Train and Swissmetro)        -0.699029  0.042250
Travel Time, units:hrs (Car)                         -0.722998  0.047130
Travel Cost * (Annual Pass == 0), units: 0.01 C...   -0.561769  0.093593
Travel Cost * (Annual Pass == 0), units: 0.01 C...   -0.281683  0.045058
Travel Cost, units: 0.01 CHF (Car)                   -0.513867  0.103745
Headway, units:hrs, (Train)                          -0.314336  0.062085
Headway, units:hrs, (Swissmetro)                     -0.377324  0.195969
Airline Seat Configuration, base=No (Swissmetro)     -0.782455  0.087232
Surveyed on a Train, base=No, (Train and Swissm...    2.542475  0.114347
First Class == False, (Swissmetro)                    0.565015  0.077341
Number of Luggage Pieces == 1, (Car)                  0.422767  0.067424
Number of Luggage Pieces > 1, (Car)                   1.414052  0.258917

                                                      t_stats       p_values  \
ASC Train                                           -8.844625   9.183620e-19
ASC Swissmetro                                      -4.332359   1.475204e-05
Travel Time, units:hrs (Train and Swissmetro)      -16.545035   1.738624e-61
Travel Time, units:hrs (Car)                       -15.340414   4.105672e-53
Travel Cost * (Annual Pass == 0), units: 0.01 C...  -6.002282   1.945635e-09
Travel Cost * (Annual Pass == 0), units: 0.01 C...  -6.251572   4.063405e-10
Travel Cost, units: 0.01 CHF (Car)                  -4.953161   7.301745e-07
Headway, units:hrs, (Train)                         -5.063008   4.126931e-07
Headway, units:hrs, (Swissmetro)                    -1.925430   5.417557e-02
Airline Seat Configuration, base=No (Swissmetro)    -8.969775   2.971217e-19
Surveyed on a Train, base=No, (Train and Swissm...  22.234822  1.581947e-109
First Class == False, (Swissmetro)                   7.305494   2.762506e-13
Number of Luggage Pieces == 1, (Car)                 6.270276   3.604088e-10
Number of Luggage Pieces > 1, (Car)                  5.461402   4.723879e-08

                                                    robust_std_err  \
ASC Train                                                 0.183245
ASC Swissmetro                                            0.137088
Travel Time, units:hrs (Train and Swissmetro)             0.075838
Travel Time, units:hrs (Car)                              0.091977
Travel Cost * (Annual Pass == 0), units: 0.01 C...        0.098131
Travel Cost * (Annual Pass == 0), units: 0.01 C...        0.044599
Travel Cost, units: 0.01 CHF (Car)                        0.150334
Headway, units:hrs, (Train)                               0.061170
Headway, units:hrs, (Swissmetro)                          0.204305
Airline Seat Configuration, base=No (Swissmetro)          0.089759
Surveyed on a Train, base=No, (Train and Swissm...        0.122174
First Class == False, (Swissmetro)                        0.076562
Number of Luggage Pieces == 1, (Car)                      0.068414
Number of Luggage Pieces > 1, (Car)                       0.255095

                                                    robust_t_stats  \
ASC Train                                                -7.055834
ASC Swissmetro                                           -3.666224
Travel Time, units:hrs (Train and Swissmetro)            -9.217402
Travel Time, units:hrs (Car)                             -7.860671
Travel Cost * (Annual Pass == 0), units: 0.01 C...       -5.724657
Travel Cost * (Annual Pass == 0), units: 0.01 C...       -6.315884
Travel Cost, units: 0.01 CHF (Car)                       -3.418178
Headway, units:hrs, (Train)                              -5.138696
Headway, units:hrs, (Swissmetro)                         -1.846866
Airline Seat Configuration, base=No (Swissmetro)         -8.717304
Surveyed on a Train, base=No, (Train and Swissm...       20.810251
First Class == False, (Swissmetro)                        7.379864
Number of Luggage Pieces == 1, (Car)                      6.179550
Number of Luggage Pieces > 1, (Car)                       5.543239

                                                    robust_p_values
ASC Train                                              1.715680e-12
ASC Swissmetro                                         2.461587e-04
Travel Time, units:hrs (Train and Swissmetro)          3.043870e-20
Travel Time, units:hrs (Car)                           3.820826e-15
Travel Cost * (Annual Pass == 0), units: 0.01 C...     1.036432e-08
Travel Cost * (Annual Pass == 0), units: 0.01 C...     2.686210e-10
Travel Cost, units: 0.01 CHF (Car)                     6.304197e-04
Headway, units:hrs, (Train)                            2.766511e-07
Headway, units:hrs, (Swissmetro)                       6.476660e-02
Airline Seat Configuration, base=No (Swissmetro)       2.849049e-18
Surveyed on a Train, base=No, (Train and Swissm...     3.495137e-96
First Class == False, (Swissmetro)                     1.584517e-13
Number of Luggage Pieces == 1, (Car)                   6.428459e-10
Number of Luggage Pieces > 1, (Car)                    2.969274e-08